* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
body{
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
}
.navbar {
  width: 100%;
  height:80px;
  padding-top:20px;
  display: flex;
  background: transparent;
  overflow: hidden;
  padding: 10px;
  padding-left: 30px;
  border-radius: 0px;
  z-index: 1000;
  justify-content: space-between; /* Changed to space-between for even spacing */
  position: sticky;
  top: 0; /* Added to stick the navbar to the top */
  transition: background-color 0.5s ease, color 0.5s ease;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}


.nav-list {
  padding-top: 20px;
}

.nav-list a {
  font-size: 23px;
  margin-right: 40px;
  text-decoration: none;
  color: #fff;
  transition:0.1s ease-in-out;
}
.nav-list a :hover{
  transform:scale(1.05);
}
.image1 {
  width: 100px;
  height: 75px;
}

.image2 {
  margin-top: 15px;
  width: 300px;
}
.logo {
  width: 350px;
  height: 53px;
  display: flex;
  align-items: center; /* Centered vertically */
}

.logo img {
  width: 100%;
  height: 100%;
}


.about-us h1{
  font-size:40px;
}
.about-us {
  font-size: 30px;
  text-align: center;
  padding: 50px;
}

.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
}

.member {
  font-size: large;
  text-align: center;

}
section p{
  margin-bottom:40px;
  margin-top:40px;
} 

.member img {
  width: 200px;
  height: 200px;
  border-radius: 80%;
  object-fit: cover;
  transition:0.1s ease-in-out;
}
.about-us img :hover{
  transform:scale(1.1);
}

.member h3 {
  margin-top: 20px;
  font-weight: bold;
}

.member p {
  margin-top: 10px;
  font-style: italic;
}

footer {
  background-color: #e0daff;
  height:300px;
  margin-top:200px;
  padding-top:20px;
}
.footer-container{
  max-width: 1100px;
  margin:0 auto;
  display:flex;
  justify-content: space-evenly;
  padding: 20px;
  
}
footer h2{
  color:#6a0dad;
  margin-bottom:20px;
}
footer p{
  color:#6a0dad;
  font-size:20px;
  line-height: 26px;
}
.content1{
  width:200px;
  display:block;
}
.content1 p{
  margin-bottom:14px;
}
.content1 a{
  font-size:27px;
  margin-right:12px;
  text-decoration: none;
  color:black;
}
.inside-content1 {
  width:100%;
  text-align: center;
}
.content2{
  display:block;
  width:200px;
}
.content3{
  display:block;
  width:200px;
}
ul{
  list-style-type: none;
}
ul li a{
  text-decoration: none;
  color:#6a0dad;
  font-size:20px;
  line-height: 28px;
}
.content3 a{
  text-decoration: none;
  color:#6a0dad;
  font-size:20px;
}